# Byte-compiled/optimized/dll files
__pycache__/
*.py[cod~]
*$py.class

# Virtual Environment files
venv/

# OS-specific rubbish
.DS_Store
desktop.ini

# Airflow stuff.
airflow_home/*
!airflow_home/dags/
!airflow_home/plugins/
!airflow_home/__init__.py

# Those get created when you run Pyspark scripts locally
metastore_db/
derby.log

# Ignore all Idea project files but Run profiles
.idea/*
!.idea/runConfigurations/

# Python packages
build/
dist/
*.egg-info/

# Tox (unified testing) environment
.tox/

# Code coverage info (pytest)
.coverage
coverage.xml
htmlcov/
