# Byte-compiled/optimized/dll files
__pycache__/
*.py[cod]
*$py.class

# PyCharm and VirtualEnv files
.idea/
venv/

# OS-specific rubbish
.DS_Store
desktop.ini

# Airflow stuff
airflow_home/*
!airflow_home/dags
!airflow_home/plugins
!airflow_home/__init__.py

# Those get created when you run Pyspark scripts locally
metastore_db/
derby.log
