# PySpark stubs: better coding experience for PySpark
pyspark-stubs==2.4.0.post7

# Unified testing
tox==3.14.5

# Unit tests
pytest==5.3.5
pytest-mock==2.0.0

# Code formatting
black==19.10b0

# Pre-commit hook to run Black on each commit
pre-commit==2.1.0

# Code linting
pylint==2.4.4
pylint-airflow==0.1.0a1
flake8==3.7.9
flake8-blind-except==0.1.1
flake8-bugbear==20.1.4
flake8-builtins==1.4.2
flake8-comprehensions==3.2.2
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-isort==2.8.0
flake8-quotes==2.1.1
flake8-string-format==0.3.0
