# PySpark to run and debug batch jobs locally
pyspark==2.4.5

# PySpark stubs: better coding experience for PySpark
pyspark-stubs==2.4.0.post7

# Unified testing: run tests, linting and code coverage report with one command.
# CI uses that to check the build.
tox==3.14.5

# Unit tests
pytest==5.3.5

# Unit tests: mocking
pytest-mock==2.0.0
responses==0.10.11

# Unit test verification: show difference between expected and actual files
deepdiff==4.2.0

# Code coverage
pytest-cov==2.8.1
codecov==2.0.16

# Code formatting
black==19.10b0
isort==4.3.21

# Pre-commit hook to check (and reformat if needed) code on each commit
pre-commit==2.1.1

# Code linting
pylint==2.4.4
pylint-airflow==0.1.0a1
flake8==3.7.9
flake8-blind-except==0.1.1
flake8-bugbear==20.1.4
flake8-builtins==1.4.2
flake8-comprehensions==3.2.2
flake8-debugger==3.2.1
flake8-docstrings==1.5.0
flake8-isort==2.8.0
flake8-quotes==2.1.1
flake8-string-format==0.3.0
